.message {
    padding: 5px;
    width:300px;
    margin-top: 5px;
}

.message-inner {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
}

.message-time {
    margin-bottom: 0px;
}

.message-pp {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.person {
    background-color: orangered;
    padding: 10px;
}

.toggle {
    z-index: 10;
}

.center { 
    height: 100vh;
    position: relative;
}

.centerMe {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.chat-panel {
    height: 600px;
}

.chats-panel {
    height: 400px;
    overflow-y: scroll;
}

.chat-backdrop {
    background-color: white;
    background-image: url('../../Images//chat-backdrop.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}