.message {
    padding: 5px;
    width:300px;
    margin-top: 5px;
}

.message-inner {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
}
