.search {
    border-radius: 1.5rem;
}

.search-button {
    border-color: red;
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

.search-button:hover {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    transition: ease-in-out 0.2s;
}

.search-button:focus {
    border-color: red;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    outline-color: transparent;
}

.center { 
    height: 100vh;
    position: relative;
}

.centerMe {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shadow {
    box-shadow: 200px 100px 100px black;
}

.feed-button {
    border-radius: 1.5rem;
    background-color: #9CC3D5FF;
    border-color: white;
    color: white;
    outline: none;
    outline-color: transparent;
}

.feed-button:hover {
    border-radius: 1.5rem;
    background-color: #9CC3D5FF;
    border-color: white;
    color: white;
    outline: none;
    outline-color: transparent;
}

.feed-button:active {
    border-radius: 1.5rem;
    background-color: #9CC3D5FF;
    border-color: white;
    color: white;
    outline: none;
    outline-color: transparent;
}

.feed-button:focus {
    border-radius: 1.5rem;
    background-color: #9CC3D5FF;
    border-color: white;
    color: white;
    outline: none;
    outline-color: transparent;
}

.backdrop {
    /*background-image: url('../../Images/backdrop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: white;
}

.check-text {
    color: white;
}

.toggle {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.post-panel {
    min-height: 600px;
}

.post-panel-posts {
    height: 600px;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {

    .center-row {
        min-height: 100vh;
        margin: 0px;
    }

    .centerMe {
        margin: 0;
        position: relative;
        width:100%;
        top: 0%;
        left: 0%;
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        padding: 0px;
    }

    .toggle {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        background-color: transparent;
    }

    .menu-btn {
        margin-top: 60px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        width: 50px;
        height: 50px;
    }

    .toggle-content {
        height: 100vh;
        overflow-y: scroll;
    }

    .post-panel {
        min-height: 100vh;
        overflow-y: scroll;
    }

    .post-panel-posts {
        height: 100vh;
        overflow-y: scroll;
    }

    .taskbar-row {
        height: 100vh;
        overflow-y: scroll;
    }

}