.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 35%;
  max-width: 50%;
  max-height: 50%;
  display:flex;
  position: center;
  flex-direction: column;
  padding: 10px;
  margin: auto;
}

.form-wrapper {
  width:100%;
  height: 50%;
  display:flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 2em;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #555;
  left: 50%;
  right:50%;
}

Form {
  width:50%;
  height: 50%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.firstName,
.lastName,
.email,
.username,
.password {
  display:flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.image {
  align-items: center;
}

img {
  height: 90%;
  width: 100%;
  align-items: center;
  padding: 15px;
  border-radius: 70px;
}

.but {
  display: flex;
  flex-direction: column;
}
