html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEE;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.post-container{
  border-color: black;
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-text-div{
  border-color: black;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0px
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.post-pp {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.post-icon {
  font-size: 15px;
  margin-right: 10px;
}

.comment-pp {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.comment-icon{
  font-size: 15px;
  margin-right: 10px;
}

.comment-container {
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 2s ease-in;
}

.down {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.icon-like:hover{
  color: #212529;
}

.icon-dislike:hover{
  color: #212529;
}


.post-bottom {
  max-height: 0;
  opacity: 0;
  overflow-y: hidden;
  transition: all 0.4s ease;
}

.fa-heart {
  transition: all 0.2s ease-in;
}

.follow-button {
  font-size: 13px;
  height: 20px;
  border-radius: 1rem;
  padding: 0px;
  width: 80px;
  background-color: white;
  border-color: lightseagreen;
  color: lightseagreen;
}

.follow-button:hover {
  background-color: lightseagreen;
  border-color: lightseagreen;
  color: white;
}

.follow-button:focus {
  background-color: lightseagreen;
  border-color: lightseagreen;
  color: white;
}
.myButton{font-size: 13px;
  height: 20px;
  border-radius: 1rem;
  padding: 0px;
  width: 80px;
  background-color: #0063B2FF;
  border-color: lightseagreen;
  color: white;
}
.myButton1{font-size: 13px;
  height: 20px;
  border-radius: 1rem;
  padding: 0px;
  width: 80px;
  background-color:grey;
  border-color: lightseagreen;
  color: white;
}
.myButton:hover {
  background-color: lightseagreen;
  border-color: lightseagreen;
  color: white;
}

.link-button {
  font-size: 12px;
  
  color:white;
}

.myButton:focus {
  background-color: lightseagreen;
  border-color: lightseagreen;
  color: white;
}
.post-pp {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 5px;
}

.profile-container{
  border-color: black;
  border-style: solid;
  border-width: 0px;
  border-radius: 20px;
  padding: 80px;
  background-color: #9CC3D5FF;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.profilepic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 5px;
  opacity: 1;
  transition: .3s ease;
  backface-visibility: hidden;
}
.profilepic:hover  {
  opacity: 0.3;
}

.a{
  cursor: pointer;
}

.profilepic:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color :black;
  font-size: 25px;
  padding: 16px 32px;
}
.p {
  position: relative;
  width: 768px;
  height: 1024px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  background-color:aquamarine;
  flex :1;
  flex-grow: 1;
  flex-shrink : 1;
  flex-basis : 0;
  
}
.cont{
  background-color: #9CC3D5FF;
  display: flex;
  border: 6px white;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-radius: 10px;
  flex-direction: column;
  flex :1;
  flex-grow: 1;
  flex-shrink : 1;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border: 3px solid transparent;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  width: 5px;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  